* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

nav a:hover {
  text-decoration: underline;
}

p {
  color: white;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  font-size: 1em;
  color: white;
}

.icon {
  width: 1.6em;
}

.highlight {
  color: rgba(255, 102, 0, 0.8);
  text-decoration: underline;
}

.highlight:hover {
  color: #ff6600;
}

.btn {
  background-color: rgba(255, 102, 0, 0.8235294118);
  width: fit-content;
  padding: 0.8em 1.4em;
  border-radius: 2em;
}

.btn:hover {
  background-color: #ff6600;
}

header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.85)), url(../img/header.jpg);
  background-size: cover;
  height: 100vh;
  padding: 2.6em 6em;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav div {
  display: flex;
  align-items: center;
  gap: 2em;
}
header nav div .logo {
  width: 8em;
}
header nav div .nav-l {
  padding-left: 2em;
  border-left: 2px solid rgb(226, 226, 226);
}
header nav div ul {
  display: flex;
  align-items: center;
  gap: 2em;
  height: 2.6em;
}
header nav div ul li {
  display: flex;
}
header nav div ul li img {
  width: 1.6em;
}
header nav div ul li .down-icon {
  width: 0.6em;
}
header nav div ul #profile {
  position: relative;
  gap: 0.8em;
}
header nav div ul #profile .profile-img {
  border-radius: 50%;
  width: 2em;
}
header nav div ul .lang-drop {
  align-items: center;
  gap: 0.2em;
  background-color: black;
  padding: 0.2em 0.6em;
  border-radius: 0.4em;
}
header .hero {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 90%;
}
header .hero .primary-movie {
  display: flex;
  flex-direction: column;
  gap: 1.6em;
}
header .hero .primary-movie div {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
header .hero .primary-movie div p {
  font-size: 0.85em;
}
header .hero .primary-movie .audio-container {
  margin-top: 8%;
}
header .hero .primary-movie .audio-container audio {
  display: none;
}
header .hero .primary-movie .audio-container .audio-player {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.4em;
}
header .hero .primary-movie .audio-container .audio-player .seek-slider {
  position: relative;
  background-color: rgba(94, 94, 94, 0.5);
  display: block;
  width: 18em;
  height: 0.25em;
}
header .hero .primary-movie .audio-container .audio-player .seek-slider .seek {
  background-color: #ff6600;
  height: 100%;
  width: 0%;
}
header .hero .primary-movie .audio-container .audio-player .volume .volume-icon {
  width: 1.2em;
}
header .hero .trending {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
  left: 10%;
}
header .hero .trending div {
  display: flex;
  align-items: center;
}
header .hero .trending div .slide-l {
  position: absolute;
  left: -2em;
  background-color: rgba(255, 102, 0, 0.7725490196);
  border-radius: 50%;
  padding: 0.2em;
  cursor: pointer;
}
header .hero .trending div .slide-l:hover {
  background-color: #ff6600;
}
header .hero .trending div .slide-r {
  position: absolute;
  right: 10em;
  background-color: rgba(255, 102, 0, 0.7725490196);
  border-radius: 50%;
  padding: 0.2em;
  cursor: pointer;
}
header .hero .trending div .slide-r:hover {
  background-color: #ff6600;
}
header .hero .trending div ul {
  display: flex;
  gap: 1em;
}
header .hero .trending div ul li {
  text-align: center;
  cursor: pointer;
}
header .hero .trending div ul li .movie-img {
  width: 12em;
  height: 18em;
  object-fit: cover;
  opacity: 0.8;
}
header .hero .trending div ul li .movie-img:hover {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */